<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idea.shower.app.commons.OrderInfoMapper">
  <resultMap id="BaseResultMap" type="com.idea.shower.app.commons.OrderInfo">
    <!--@mbg.generated-->
    <!--@Table order_info-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="customer_id" jdbcType="BIGINT" property="customerId" />
    <result column="customer_open_id" jdbcType="VARCHAR" property="customerOpenId" />
    <result column="customer_union_id" jdbcType="VARCHAR" property="customerUnionId" />
    <result column="customer_nick_name" jdbcType="VARCHAR" property="customerNickName" />
    <result column="order_status" jdbcType="INTEGER" property="orderStatus" />
    <result column="total_price" jdbcType="DECIMAL" property="totalPrice" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, create_time, update_time, create_user, update_user, `type`, order_no, customer_id, 
    customer_open_id, customer_union_id, customer_nick_name, order_status, total_price
  </sql>
  <select id="selectByExample" parameterType="com.idea.shower.app.commons.OrderInfoExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from order_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from order_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from order_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.idea.shower.app.commons.OrderInfoExample">
    <!--@mbg.generated-->
    delete from order_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.idea.shower.app.commons.OrderInfo">
    <!--@mbg.generated-->
    insert into order_info (id, create_time, update_time, 
      create_user, update_user, `type`, 
      order_no, customer_id, customer_open_id, 
      customer_union_id, customer_nick_name, order_status, 
      total_price)
    values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{orderNo,jdbcType=VARCHAR}, #{customerId,jdbcType=BIGINT}, #{customerOpenId,jdbcType=VARCHAR}, 
      #{customerUnionId,jdbcType=VARCHAR}, #{customerNickName,jdbcType=VARCHAR}, #{orderStatus,jdbcType=INTEGER}, 
      #{totalPrice,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.idea.shower.app.commons.OrderInfo">
    <!--@mbg.generated-->
    insert into order_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="customerOpenId != null">
        customer_open_id,
      </if>
      <if test="customerUnionId != null">
        customer_union_id,
      </if>
      <if test="customerNickName != null">
        customer_nick_name,
      </if>
      <if test="orderStatus != null">
        order_status,
      </if>
      <if test="totalPrice != null">
        total_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=BIGINT},
      </if>
      <if test="customerOpenId != null">
        #{customerOpenId,jdbcType=VARCHAR},
      </if>
      <if test="customerUnionId != null">
        #{customerUnionId,jdbcType=VARCHAR},
      </if>
      <if test="customerNickName != null">
        #{customerNickName,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null">
        #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null">
        #{totalPrice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.idea.shower.app.commons.OrderInfoExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from order_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update order_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        `type` = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.orderNo != null">
        order_no = #{record.orderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.customerId != null">
        customer_id = #{record.customerId,jdbcType=BIGINT},
      </if>
      <if test="record.customerOpenId != null">
        customer_open_id = #{record.customerOpenId,jdbcType=VARCHAR},
      </if>
      <if test="record.customerUnionId != null">
        customer_union_id = #{record.customerUnionId,jdbcType=VARCHAR},
      </if>
      <if test="record.customerNickName != null">
        customer_nick_name = #{record.customerNickName,jdbcType=VARCHAR},
      </if>
      <if test="record.orderStatus != null">
        order_status = #{record.orderStatus,jdbcType=INTEGER},
      </if>
      <if test="record.totalPrice != null">
        total_price = #{record.totalPrice,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update order_info
    set id = #{record.id,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      update_user = #{record.updateUser,jdbcType=VARCHAR},
      `type` = #{record.type,jdbcType=INTEGER},
      order_no = #{record.orderNo,jdbcType=VARCHAR},
      customer_id = #{record.customerId,jdbcType=BIGINT},
      customer_open_id = #{record.customerOpenId,jdbcType=VARCHAR},
      customer_union_id = #{record.customerUnionId,jdbcType=VARCHAR},
      customer_nick_name = #{record.customerNickName,jdbcType=VARCHAR},
      order_status = #{record.orderStatus,jdbcType=INTEGER},
      total_price = #{record.totalPrice,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.idea.shower.app.commons.OrderInfo">
    <!--@mbg.generated-->
    update order_info
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=BIGINT},
      </if>
      <if test="customerOpenId != null">
        customer_open_id = #{customerOpenId,jdbcType=VARCHAR},
      </if>
      <if test="customerUnionId != null">
        customer_union_id = #{customerUnionId,jdbcType=VARCHAR},
      </if>
      <if test="customerNickName != null">
        customer_nick_name = #{customerNickName,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null">
        order_status = #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null">
        total_price = #{totalPrice,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.idea.shower.app.commons.OrderInfo">
    <!--@mbg.generated-->
    update order_info
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=INTEGER},
      order_no = #{orderNo,jdbcType=VARCHAR},
      customer_id = #{customerId,jdbcType=BIGINT},
      customer_open_id = #{customerOpenId,jdbcType=VARCHAR},
      customer_union_id = #{customerUnionId,jdbcType=VARCHAR},
      customer_nick_name = #{customerNickName,jdbcType=VARCHAR},
      order_status = #{orderStatus,jdbcType=INTEGER},
      total_price = #{totalPrice,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <select id="selectByCondition" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from order_info
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=BIGINT}
            </if>
            <if test="nickName != null and nickName != ''">
                and customer_nick_name like concat('%',#{nickName,jdbcType=VARCHAR},'%')
            </if>
            <if test="order != null and order != ''">
                and order_no like concat('%',#{orderNo,jdbcType=VARCHAR},'%')
            </if>
        </where>
        <if test="order != null and order != ''">
            order by ${order}
            <if test="sort != null and sort != ''">
                ${sort}
            </if>
        </if>
    </select>
</mapper>