<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="database" value="PostgreSQL" />
        <option name="generateMethodInService" value="true" />
        <option name="generateMethodInServiceInterface" value="true" />
        <option name="generateWithIfTest" value="true" />
        <option name="userMacSet">
          <set>
            <option value="0025_3855_81" />
            <option value="D4-3A-65-07-AE-11" />
          </set>
        </option>
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>