<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yuan.boot.shower.db.mapper.DeviceOrderInfoMapper">
    <resultMap id="BaseResultMap" type="org.yuan.boot.shower.db.pojo.DeviceOrderInfo">
        <!--@mbg.generated-->
        <!--@Table device_order_info-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="device_id" jdbcType="BIGINT" property="deviceId"/>
        <result column="device_code" jdbcType="VARCHAR" property="deviceCode"/>
        <result column="order_id" jdbcType="BIGINT" property="orderId"/>
        <result column="order_no" jdbcType="VARCHAR" property="orderNo"/>
        <result column="customer_id" jdbcType="BIGINT" property="customerId"/>
        <result column="customer_open_id" jdbcType="VARCHAR" property="customerOpenId"/>
        <result column="customer_name" jdbcType="VARCHAR" property="customerName"/>
        <result column="order_time" jdbcType="TIMESTAMP" property="orderTime"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="leave_time" jdbcType="TIMESTAMP" property="leaveTime"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <!--@mbg.generated-->
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <!--@mbg.generated-->
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, device_id, device_code, order_id, order_no, customer_id, customer_open_id, customer_name,
        order_time, start_time, end_time, leave_time
    </sql>
    <select id="selectByExample" parameterType="org.yuan.boot.shower.db.pojo.DeviceOrderInfoExample"
            resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from device_order_info
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from device_order_info
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete from device_order_info
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByExample" parameterType="org.yuan.boot.shower.db.pojo.DeviceOrderInfoExample">
        <!--@mbg.generated-->
        delete from device_order_info
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="org.yuan.boot.shower.db.pojo.DeviceOrderInfo">
        <!--@mbg.generated-->
        insert into device_order_info (id, device_id, device_code,
        order_id, order_no, customer_id,
        customer_open_id, customer_name, order_time,
        start_time, end_time, leave_time
        )
        values (#{id,jdbcType=BIGINT}, #{deviceId,jdbcType=BIGINT}, #{deviceCode,jdbcType=VARCHAR},
        #{orderId,jdbcType=BIGINT}, #{orderNo,jdbcType=VARCHAR}, #{customerId,jdbcType=BIGINT},
        #{customerOpenId,jdbcType=VARCHAR}, #{customerName,jdbcType=VARCHAR}, #{orderTime,jdbcType=TIMESTAMP},
        #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{leaveTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" parameterType="org.yuan.boot.shower.db.pojo.DeviceOrderInfo">
        <!--@mbg.generated-->
        insert into device_order_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="deviceId != null">
                device_id,
            </if>
            <if test="deviceCode != null">
                device_code,
            </if>
            <if test="orderId != null">
                order_id,
            </if>
            <if test="orderNo != null">
                order_no,
            </if>
            <if test="customerId != null">
                customer_id,
            </if>
            <if test="customerOpenId != null">
                customer_open_id,
            </if>
            <if test="customerName != null">
                customer_name,
            </if>
            <if test="orderTime != null">
                order_time,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="leaveTime != null">
                leave_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="deviceId != null">
                #{deviceId,jdbcType=BIGINT},
            </if>
            <if test="deviceCode != null">
                #{deviceCode,jdbcType=VARCHAR},
            </if>
            <if test="orderId != null">
                #{orderId,jdbcType=BIGINT},
            </if>
            <if test="orderNo != null">
                #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="customerId != null">
                #{customerId,jdbcType=BIGINT},
            </if>
            <if test="customerOpenId != null">
                #{customerOpenId,jdbcType=VARCHAR},
            </if>
            <if test="customerName != null">
                #{customerName,jdbcType=VARCHAR},
            </if>
            <if test="orderTime != null">
                #{orderTime,jdbcType=TIMESTAMP},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="leaveTime != null">
                #{leaveTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="org.yuan.boot.shower.db.pojo.DeviceOrderInfoExample"
            resultType="java.lang.Long">
        <!--@mbg.generated-->
        select count(*) from device_order_info
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        <!--@mbg.generated-->
        update device_order_info
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.deviceId != null">
                device_id = #{record.deviceId,jdbcType=BIGINT},
            </if>
            <if test="record.deviceCode != null">
                device_code = #{record.deviceCode,jdbcType=VARCHAR},
            </if>
            <if test="record.orderId != null">
                order_id = #{record.orderId,jdbcType=BIGINT},
            </if>
            <if test="record.orderNo != null">
                order_no = #{record.orderNo,jdbcType=VARCHAR},
            </if>
            <if test="record.customerId != null">
                customer_id = #{record.customerId,jdbcType=BIGINT},
            </if>
            <if test="record.customerOpenId != null">
                customer_open_id = #{record.customerOpenId,jdbcType=VARCHAR},
            </if>
            <if test="record.customerName != null">
                customer_name = #{record.customerName,jdbcType=VARCHAR},
            </if>
            <if test="record.orderTime != null">
                order_time = #{record.orderTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.startTime != null">
                start_time = #{record.startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.endTime != null">
                end_time = #{record.endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.leaveTime != null">
                leave_time = #{record.leaveTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        <!--@mbg.generated-->
        update device_order_info
        set id = #{record.id,jdbcType=BIGINT},
        device_id = #{record.deviceId,jdbcType=BIGINT},
        device_code = #{record.deviceCode,jdbcType=VARCHAR},
        order_id = #{record.orderId,jdbcType=BIGINT},
        order_no = #{record.orderNo,jdbcType=VARCHAR},
        customer_id = #{record.customerId,jdbcType=BIGINT},
        customer_open_id = #{record.customerOpenId,jdbcType=VARCHAR},
        customer_name = #{record.customerName,jdbcType=VARCHAR},
        order_time = #{record.orderTime,jdbcType=TIMESTAMP},
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
        leave_time = #{record.leaveTime,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="org.yuan.boot.shower.db.pojo.DeviceOrderInfo">
        <!--@mbg.generated-->
        update device_order_info
        <set>
            <if test="deviceId != null">
                device_id = #{deviceId,jdbcType=BIGINT},
            </if>
            <if test="deviceCode != null">
                device_code = #{deviceCode,jdbcType=VARCHAR},
            </if>
            <if test="orderId != null">
                order_id = #{orderId,jdbcType=BIGINT},
            </if>
            <if test="orderNo != null">
                order_no = #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="customerId != null">
                customer_id = #{customerId,jdbcType=BIGINT},
            </if>
            <if test="customerOpenId != null">
                customer_open_id = #{customerOpenId,jdbcType=VARCHAR},
            </if>
            <if test="customerName != null">
                customer_name = #{customerName,jdbcType=VARCHAR},
            </if>
            <if test="orderTime != null">
                order_time = #{orderTime,jdbcType=TIMESTAMP},
            </if>
            <if test="startTime != null">
                start_time = #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="leaveTime != null">
                leave_time = #{leaveTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.yuan.boot.shower.db.pojo.DeviceOrderInfo">
        <!--@mbg.generated-->
        update device_order_info
        set device_id = #{deviceId,jdbcType=BIGINT},
        device_code = #{deviceCode,jdbcType=VARCHAR},
        order_id = #{orderId,jdbcType=BIGINT},
        order_no = #{orderNo,jdbcType=VARCHAR},
        customer_id = #{customerId,jdbcType=BIGINT},
        customer_open_id = #{customerOpenId,jdbcType=VARCHAR},
        customer_name = #{customerName,jdbcType=VARCHAR},
        order_time = #{orderTime,jdbcType=TIMESTAMP},
        start_time = #{startTime,jdbcType=TIMESTAMP},
        end_time = #{endTime,jdbcType=TIMESTAMP},
        leave_time = #{leaveTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectByCondition" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from device_order_info
        <where>
            <if test="id != null">
                and id =#{id,jdbcType=VARCHAR}
            </if>
            <if test="deviceId != null">
                and device_id = #{deviceId,jdbcType=BIGINT}
            </if>
            <if test="deviceCode != null and deviceCode != ''">
                and device_code like concat('%',#{deviceCode,jdbcType=VARCHAR},'%')
            </if>
            <if test="orderId != null">
                and order_id = #{orderId,jdbcType=BIGINT}
            </if>
            <if test="orderNo != null and orderNo != ''">
                and order_no like concat('%',#{orderNo,jdbcType=VARCHAR},'%')
            </if>
            <if test="customerId != null">
                and customer_id = #{customerId,jdbcType=BIGINT}
            </if>
            <if test="customerName != null and customerName != ''">
                and customer_name like concat('%',#{customerName,jdbcType=VARCHAR},'%')
            </if>
        </where>
        <if test="order != null and order != ''">
            order by ${order}
            <if test="sort != null and sort != ''">
                ${sort}
            </if>
        </if>
    </select>
</mapper>