<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yuan.boot.shower.db.mapper.WxOrderInfoMapper">
  <resultMap id="BaseResultMap" type="org.yuan.boot.shower.db.pojo.WxOrderInfo">
    <!--@mbg.generated-->
    <!--@Table wx_order_info-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="customer_id" jdbcType="BIGINT" property="customerId" />
    <result column="customer_open_id" jdbcType="VARCHAR" property="customerOpenId" />
    <result column="customer_union_id" jdbcType="VARCHAR" property="customerUnionId" />
    <result column="customer_nick_name" jdbcType="VARCHAR" property="customerNickName" />
    <result column="order_status" jdbcType="INTEGER" property="orderStatus" />
    <result column="total_price" jdbcType="DECIMAL" property="totalPrice" />
    <result column="total_remain_price" jdbcType="DECIMAL" property="totalRemainPrice" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, order_no, customer_id, customer_open_id, customer_union_id, customer_nick_name, 
    order_status, total_price, total_remain_price
  </sql>
  <select id="selectByExample" parameterType="org.yuan.boot.shower.db.pojo.WxOrderInfoExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wx_order_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from wx_order_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from wx_order_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="org.yuan.boot.shower.db.pojo.WxOrderInfoExample">
    <!--@mbg.generated-->
    delete from wx_order_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="org.yuan.boot.shower.db.pojo.WxOrderInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into wx_order_info (order_no, customer_id, customer_open_id, 
      customer_union_id, customer_nick_name, order_status, 
      total_price, total_remain_price)
    values (#{orderNo,jdbcType=VARCHAR}, #{customerId,jdbcType=BIGINT}, #{customerOpenId,jdbcType=VARCHAR}, 
      #{customerUnionId,jdbcType=VARCHAR}, #{customerNickName,jdbcType=VARCHAR}, #{orderStatus,jdbcType=INTEGER}, 
      #{totalPrice,jdbcType=DECIMAL}, #{totalRemainPrice,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="org.yuan.boot.shower.db.pojo.WxOrderInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into wx_order_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="customerOpenId != null">
        customer_open_id,
      </if>
      <if test="customerUnionId != null">
        customer_union_id,
      </if>
      <if test="customerNickName != null">
        customer_nick_name,
      </if>
      <if test="orderStatus != null">
        order_status,
      </if>
      <if test="totalPrice != null">
        total_price,
      </if>
      <if test="totalRemainPrice != null">
        total_remain_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=BIGINT},
      </if>
      <if test="customerOpenId != null">
        #{customerOpenId,jdbcType=VARCHAR},
      </if>
      <if test="customerUnionId != null">
        #{customerUnionId,jdbcType=VARCHAR},
      </if>
      <if test="customerNickName != null">
        #{customerNickName,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null">
        #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null">
        #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="totalRemainPrice != null">
        #{totalRemainPrice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.yuan.boot.shower.db.pojo.WxOrderInfoExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from wx_order_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update wx_order_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.orderNo != null">
        order_no = #{record.orderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.customerId != null">
        customer_id = #{record.customerId,jdbcType=BIGINT},
      </if>
      <if test="record.customerOpenId != null">
        customer_open_id = #{record.customerOpenId,jdbcType=VARCHAR},
      </if>
      <if test="record.customerUnionId != null">
        customer_union_id = #{record.customerUnionId,jdbcType=VARCHAR},
      </if>
      <if test="record.customerNickName != null">
        customer_nick_name = #{record.customerNickName,jdbcType=VARCHAR},
      </if>
      <if test="record.orderStatus != null">
        order_status = #{record.orderStatus,jdbcType=INTEGER},
      </if>
      <if test="record.totalPrice != null">
        total_price = #{record.totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.totalRemainPrice != null">
        total_remain_price = #{record.totalRemainPrice,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update wx_order_info
    set id = #{record.id,jdbcType=BIGINT},
      order_no = #{record.orderNo,jdbcType=VARCHAR},
      customer_id = #{record.customerId,jdbcType=BIGINT},
      customer_open_id = #{record.customerOpenId,jdbcType=VARCHAR},
      customer_union_id = #{record.customerUnionId,jdbcType=VARCHAR},
      customer_nick_name = #{record.customerNickName,jdbcType=VARCHAR},
      order_status = #{record.orderStatus,jdbcType=INTEGER},
      total_price = #{record.totalPrice,jdbcType=DECIMAL},
      total_remain_price = #{record.totalRemainPrice,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.yuan.boot.shower.db.pojo.WxOrderInfo">
    <!--@mbg.generated-->
    update wx_order_info
    <set>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=BIGINT},
      </if>
      <if test="customerOpenId != null">
        customer_open_id = #{customerOpenId,jdbcType=VARCHAR},
      </if>
      <if test="customerUnionId != null">
        customer_union_id = #{customerUnionId,jdbcType=VARCHAR},
      </if>
      <if test="customerNickName != null">
        customer_nick_name = #{customerNickName,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null">
        order_status = #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null">
        total_price = #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="totalRemainPrice != null">
        total_remain_price = #{totalRemainPrice,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.yuan.boot.shower.db.pojo.WxOrderInfo">
    <!--@mbg.generated-->
    update wx_order_info
    set order_no = #{orderNo,jdbcType=VARCHAR},
      customer_id = #{customerId,jdbcType=BIGINT},
      customer_open_id = #{customerOpenId,jdbcType=VARCHAR},
      customer_union_id = #{customerUnionId,jdbcType=VARCHAR},
      customer_nick_name = #{customerNickName,jdbcType=VARCHAR},
      order_status = #{orderStatus,jdbcType=INTEGER},
      total_price = #{totalPrice,jdbcType=DECIMAL},
      total_remain_price = #{totalRemainPrice,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <select id="selectByCondition" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from wx_order_info
        <where>
            <if test="openId != null and openId != ''">
                and customer_open_id = #{openId,jdbcType=VARCHAR}
            </if>
            <if test="customerId != null and customerId != ''">
                and customer_id=#{customerId,jdbcType=VARCHAR}
            </if>
            <if test="createDateStart != null">
                and date(create_time) &gt;= date(#{createDateStart,jdbcType=TIMESTAMP})
            </if>
            <if test="createDateEnd != null">
                <![CDATA[and date(create_time) <= date(#{createDateEnd,jdbcType=TIMESTAMP})]]>
            </if>
        </where>
        <if test="order != null and order != ''">
            order by ${order}
            <if test="sort != null and sort != ''">
                ${sort}
            </if>
        </if>
    </select>
</mapper>