<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idea.shower.db.mybaits.module.mapper.DeviceInfoMapper">
  <resultMap id="BaseResultMap" type="com.idea.shower.db.mybaits.module.pojo.DeviceInfo">
    <!--@mbg.generated-->
    <!--@Table device_info-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="updater" jdbcType="BIGINT" property="updater" />
    <result column="creator" jdbcType="BIGINT" property="creator" />
    <result column="del_flag" jdbcType="VARCHAR" property="delFlag" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="product_key" jdbcType="VARCHAR" property="productKey" />
    <result column="device_name" jdbcType="VARCHAR" property="deviceName" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="price_code" jdbcType="VARCHAR" property="priceCode" />
    <result column="enabled" jdbcType="INTEGER" property="enabled" />
    <result column="longitude" jdbcType="DOUBLE" property="longitude" />
    <result column="latitude" jdbcType="DOUBLE" property="latitude" />
    <result column="area_id" jdbcType="BIGINT" property="areaId" />
    <result column="area_name" jdbcType="VARCHAR" property="areaName" />
    <result column="building_id" jdbcType="BIGINT" property="buildingId" />
    <result column="building_name" jdbcType="VARCHAR" property="buildingName" />
    <result column="picture" jdbcType="VARCHAR" property="picture" />
    <result column="run_status" jdbcType="INTEGER" property="runStatus" />
    <result column="qr_picture_url" jdbcType="VARCHAR" property="qrPictureUrl" />
    <result column="qr_picture" jdbcType="VARCHAR" property="qrPicture" />
    <result column="picture_url" jdbcType="VARCHAR" property="pictureUrl" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, create_date, update_date, updater, creator, del_flag, code, product_key, device_name, 
    `type`, price_code, enabled, longitude, latitude, area_id, area_name, building_id, 
    building_name, picture, run_status, qr_picture_url, qr_picture, picture_url
  </sql>
  <select id="selectByExample" parameterType="com.idea.shower.db.mybaits.module.pojo.DeviceInfoExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from device_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from device_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from device_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.idea.shower.db.mybaits.module.pojo.DeviceInfoExample">
    <!--@mbg.generated-->
    delete from device_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.idea.shower.db.mybaits.module.pojo.DeviceInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into device_info (create_date, update_date, updater, 
      creator, del_flag, code, 
      product_key, device_name, `type`, 
      price_code, enabled, longitude, 
      latitude, area_id, area_name, 
      building_id, building_name, picture, 
      run_status, qr_picture_url, qr_picture, 
      picture_url)
    values (#{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, #{updater,jdbcType=BIGINT}, 
      #{creator,jdbcType=BIGINT}, #{delFlag,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{productKey,jdbcType=VARCHAR}, #{deviceName,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{priceCode,jdbcType=VARCHAR}, #{enabled,jdbcType=INTEGER}, #{longitude,jdbcType=DOUBLE}, 
      #{latitude,jdbcType=DOUBLE}, #{areaId,jdbcType=BIGINT}, #{areaName,jdbcType=VARCHAR}, 
      #{buildingId,jdbcType=BIGINT}, #{buildingName,jdbcType=VARCHAR}, #{picture,jdbcType=VARCHAR}, 
      #{runStatus,jdbcType=INTEGER}, #{qrPictureUrl,jdbcType=VARCHAR}, #{qrPicture,jdbcType=VARCHAR}, 
      #{pictureUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.idea.shower.db.mybaits.module.pojo.DeviceInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into device_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="updater != null">
        updater,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="productKey != null">
        product_key,
      </if>
      <if test="deviceName != null">
        device_name,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="priceCode != null">
        price_code,
      </if>
      <if test="enabled != null">
        enabled,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="areaId != null">
        area_id,
      </if>
      <if test="areaName != null">
        area_name,
      </if>
      <if test="buildingId != null">
        building_id,
      </if>
      <if test="buildingName != null">
        building_name,
      </if>
      <if test="picture != null">
        picture,
      </if>
      <if test="runStatus != null">
        run_status,
      </if>
      <if test="qrPictureUrl != null">
        qr_picture_url,
      </if>
      <if test="qrPicture != null">
        qr_picture,
      </if>
      <if test="pictureUrl != null">
        picture_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=BIGINT},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=BIGINT},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="productKey != null">
        #{productKey,jdbcType=VARCHAR},
      </if>
      <if test="deviceName != null">
        #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="priceCode != null">
        #{priceCode,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=INTEGER},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="areaId != null">
        #{areaId,jdbcType=BIGINT},
      </if>
      <if test="areaName != null">
        #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="buildingId != null">
        #{buildingId,jdbcType=BIGINT},
      </if>
      <if test="buildingName != null">
        #{buildingName,jdbcType=VARCHAR},
      </if>
      <if test="picture != null">
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="runStatus != null">
        #{runStatus,jdbcType=INTEGER},
      </if>
      <if test="qrPictureUrl != null">
        #{qrPictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="qrPicture != null">
        #{qrPicture,jdbcType=VARCHAR},
      </if>
      <if test="pictureUrl != null">
        #{pictureUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.idea.shower.db.mybaits.module.pojo.DeviceInfoExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from device_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update device_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updater != null">
        updater = #{record.updater,jdbcType=BIGINT},
      </if>
      <if test="record.creator != null">
        creator = #{record.creator,jdbcType=BIGINT},
      </if>
      <if test="record.delFlag != null">
        del_flag = #{record.delFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.code != null">
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.productKey != null">
        product_key = #{record.productKey,jdbcType=VARCHAR},
      </if>
      <if test="record.deviceName != null">
        device_name = #{record.deviceName,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        `type` = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.priceCode != null">
        price_code = #{record.priceCode,jdbcType=VARCHAR},
      </if>
      <if test="record.enabled != null">
        enabled = #{record.enabled,jdbcType=INTEGER},
      </if>
      <if test="record.longitude != null">
        longitude = #{record.longitude,jdbcType=DOUBLE},
      </if>
      <if test="record.latitude != null">
        latitude = #{record.latitude,jdbcType=DOUBLE},
      </if>
      <if test="record.areaId != null">
        area_id = #{record.areaId,jdbcType=BIGINT},
      </if>
      <if test="record.areaName != null">
        area_name = #{record.areaName,jdbcType=VARCHAR},
      </if>
      <if test="record.buildingId != null">
        building_id = #{record.buildingId,jdbcType=BIGINT},
      </if>
      <if test="record.buildingName != null">
        building_name = #{record.buildingName,jdbcType=VARCHAR},
      </if>
      <if test="record.picture != null">
        picture = #{record.picture,jdbcType=VARCHAR},
      </if>
      <if test="record.runStatus != null">
        run_status = #{record.runStatus,jdbcType=INTEGER},
      </if>
      <if test="record.qrPictureUrl != null">
        qr_picture_url = #{record.qrPictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.qrPicture != null">
        qr_picture = #{record.qrPicture,jdbcType=VARCHAR},
      </if>
      <if test="record.pictureUrl != null">
        picture_url = #{record.pictureUrl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update device_info
    set id = #{record.id,jdbcType=BIGINT},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      updater = #{record.updater,jdbcType=BIGINT},
      creator = #{record.creator,jdbcType=BIGINT},
      del_flag = #{record.delFlag,jdbcType=VARCHAR},
      code = #{record.code,jdbcType=VARCHAR},
      product_key = #{record.productKey,jdbcType=VARCHAR},
      device_name = #{record.deviceName,jdbcType=VARCHAR},
      `type` = #{record.type,jdbcType=INTEGER},
      price_code = #{record.priceCode,jdbcType=VARCHAR},
      enabled = #{record.enabled,jdbcType=INTEGER},
      longitude = #{record.longitude,jdbcType=DOUBLE},
      latitude = #{record.latitude,jdbcType=DOUBLE},
      area_id = #{record.areaId,jdbcType=BIGINT},
      area_name = #{record.areaName,jdbcType=VARCHAR},
      building_id = #{record.buildingId,jdbcType=BIGINT},
      building_name = #{record.buildingName,jdbcType=VARCHAR},
      picture = #{record.picture,jdbcType=VARCHAR},
      run_status = #{record.runStatus,jdbcType=INTEGER},
      qr_picture_url = #{record.qrPictureUrl,jdbcType=VARCHAR},
      qr_picture = #{record.qrPicture,jdbcType=VARCHAR},
      picture_url = #{record.pictureUrl,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.idea.shower.db.mybaits.module.pojo.DeviceInfo">
    <!--@mbg.generated-->
    update device_info
    <set>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        updater = #{updater,jdbcType=BIGINT},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=BIGINT},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="productKey != null">
        product_key = #{productKey,jdbcType=VARCHAR},
      </if>
      <if test="deviceName != null">
        device_name = #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="priceCode != null">
        price_code = #{priceCode,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        enabled = #{enabled,jdbcType=INTEGER},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="areaId != null">
        area_id = #{areaId,jdbcType=BIGINT},
      </if>
      <if test="areaName != null">
        area_name = #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="buildingId != null">
        building_id = #{buildingId,jdbcType=BIGINT},
      </if>
      <if test="buildingName != null">
        building_name = #{buildingName,jdbcType=VARCHAR},
      </if>
      <if test="picture != null">
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="runStatus != null">
        run_status = #{runStatus,jdbcType=INTEGER},
      </if>
      <if test="qrPictureUrl != null">
        qr_picture_url = #{qrPictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="qrPicture != null">
        qr_picture = #{qrPicture,jdbcType=VARCHAR},
      </if>
      <if test="pictureUrl != null">
        picture_url = #{pictureUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.idea.shower.db.mybaits.module.pojo.DeviceInfo">
    <!--@mbg.generated-->
    update device_info
    set create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=BIGINT},
      creator = #{creator,jdbcType=BIGINT},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      product_key = #{productKey,jdbcType=VARCHAR},
      device_name = #{deviceName,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=INTEGER},
      price_code = #{priceCode,jdbcType=VARCHAR},
      enabled = #{enabled,jdbcType=INTEGER},
      longitude = #{longitude,jdbcType=DOUBLE},
      latitude = #{latitude,jdbcType=DOUBLE},
      area_id = #{areaId,jdbcType=BIGINT},
      area_name = #{areaName,jdbcType=VARCHAR},
      building_id = #{buildingId,jdbcType=BIGINT},
      building_name = #{buildingName,jdbcType=VARCHAR},
      picture = #{picture,jdbcType=VARCHAR},
      run_status = #{runStatus,jdbcType=INTEGER},
      qr_picture_url = #{qrPictureUrl,jdbcType=VARCHAR},
      qr_picture = #{qrPicture,jdbcType=VARCHAR},
      picture_url = #{pictureUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByCondition" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from device_info
    <where>
      <if test="code != null and code != ''">
        and code like concat('%',#{code,jdbcType=VARCHAR},'%')
      </if>
    </where>
  </select>

<!--auto generated by MybatisCodeHelper on 2020-03-28-->
  <select id="selectOneByCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from device_info
        where code=#{code,jdbcType=VARCHAR}
    </select>

<!--auto generated by MybatisCodeHelper on 2020-05-10-->
  <select id="getOneByCodeAndRunStatus" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from device_info
    where code=#{code,jdbcType=VARCHAR} and run_status=#{runStatus,jdbcType=INTEGER}
  </select>

<!--auto generated by MybatisCodeHelper on 2020-05-10-->
  <update id="updateRunStatusById">
    update device_info
    set run_status=#{updatedRunStatus,jdbcType=INTEGER}
    where id=#{id,jdbcType=BIGINT}
  </update>
</mapper>